@import "@/assets/styles/base.1.0.scss";
.picker{
    @extend .fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
    &.hide{
        display: none;
    }
}
.mask{
    @extend .absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}