@import "@/assets/styles/base.1.0.scss";
.picker-bar{
    @extend .absolute, .flex;
    bottom: 482px;
    left: 0;
    width: 100%;
    height: 6.6%;
    line-height: 368%;
    background: #FFF;
}
.picker-title{
    @extend .flex-deuce, .flex-col;
    height: 100%;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.cancel-btn, .confirm-btn{
    @extend .fl;
    width: 16%;
    height: 6.6%;
    color: #004DBB;
    font-size: 30px;
    text-align: center;
}
.confirm-btn{
    @extend .fr;
}